.img-container {
    image-rendering: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container img {
    position: absolute;
    object-fit:fill;
    height: 100dvh;
    width: 100dvw;
    z-index: 1;
}